<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-circura-tz-utils" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>circuraTZ</name>
    <js-module name="circuraTZ" src="www/circuraTZ.js">
        <clobbers target="cordova.plugins.circuraTZ" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TZPlugin">
                <param name="android-package" value="com.circura.tzplugin.TZPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
        	<uses-permission android:name="android.permission.SET_TIME_ZONE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="com.circura.tzplugin.TIMEZONE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>



        <source-file src="src/android/TZPlugin.java" target-dir="src/com/circura/tzplugin" />      
    </platform>
</plugin>
