<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-circuraTZ"
    version="0.0.6">
    <name>Circura Time Zone Plugin</name>
    <description></description>
    <license></license>
    <keywords></keywords>
    <repo>https://github.com/LAT-Rosie/circuraTZ.git</repo>
    <issue>https://github.com/LAT-Rosie/circuraTZ/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module name="circuraTZ" src="www/circuraTZ.js">
        <!-- This is the window variable name you want, like window.circuraTZ -->
        <clobbers target="circuraTZ" />
        <runs/>
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CircuraTZPlugin">
          <param name="android-package" value="com.circura.TZPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
          <intent-filter>
              <action android:name="com.circura.TIMEZONE" />
              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
      </config-file>
      <source-file src="src/android/com/circura/TZPlugin.java" target-dir="src/com/circura/" />      
    </platform>
</plugin>
