<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="circura-timezone"
    version="0.0.6">
    <name>Circura TimeZone Plugin</name>
    <description></description>
    <license>LAT</license>
    <keywords></keywords>
    <repo>https://github.com/LAT-Rosie/circuraTZ.git</repo>
    <issue>https://github.com/LAT-Rosie/circuraTZ/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/circuraTZ.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.CircuraTZ -->
        <clobbers target="CircuraTZ" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CircuraTZ">
          <param name="android-package" value="com.circura.CircuraTZ" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/circura/CircuraTZ.java" target-dir="src/com/circura/" />
    </platform>
</plugin>
